<!--
DEMO

This is what I believe Sam was talking about when he was mentioning how he wanted the layout to look like.

This is me trying to fool around with that and build something.
-->

<!DOCTYPE html>
<html>
<head>
	<title>Stop and Frisk</title>
	<script src="../static/js/layout.js"></script>
	<link rel="stylesheet" href="../static/css/layout.css">
</head>
<body>

  <div id="selection_div" class="page_div">
     {% include 'selection.html' %}
  </div>
  <div id="heatmap_div" class="center">
    {% include 'heatmap.html' %}
  </div>
  <div id="timeline_div">
    {% include 'timeline.html' %}
  </div>
  <div id="timeline-graph_div">
    {% include 'timeline-graph.html' %}
  </div>
  
</div>
</body>
</html>
