<!--
DEMO

This is what I believe Sam was talking about when he was mentioning how he wanted the layout to look like.

This is me trying to fool around with that and build something.
-->

<!DOCTYPE html>
<html>
<head>
	<title>Pages Demo</title>
	<script src="../static/js/pages.js"></script>
	<link rel="stylesheet" href="../static/css/pages.css">
</head>
<body>
  <div class="demo__info">
    Pages demo
  </div>

  <div class="parallax">
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
      {% include 'selection.html' %}
      </div>
    </div>
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div >
	        <!-- <div class="title">Another Page</div> -->
          {% include 'timeline.html' %}

        </div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div><img class="opaque" style="width:150%;left:-100%" src="http://www.tripinfo.com/maps/NY-NewYork.gif"/></div>
        <div class="title">Behind</div>
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="title">Deep Background Layer</div>
      </div>
    </div>
    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title">Background Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer
                {% include 'heatmap.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
