<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/selection.css">
    <script src="../static/js/selection.js"></script>
</head>

<body onload="selection_init()">
    <div id="full_selection">
        <div class="flex" id="selection_content">
            <div id="identity" class="identitext">
                As a
                <select name="age" id="age" onchange="report(this)" class="demo_info_select">
                    <option selected="selected">your age</option>
                </select>
                year old
                <select name="race" id="race" onchange="report(this)" class="demo_info_select">
                    <option selected="selected">your ethnicity</option>
                    <option value="O">American Indian</option>
                    <option value="O">Asian/Pacific Islander</option>
                    <option value="B">Black</option>
                    <option value="W">White</option>
                    <option value="H">Hispanic</option>
                    <option value="O">Other Race</option>
                </select>
                <select name="sex" id="sex" onchange="report(this)" class="demo_info_select">
                    <option selected="selected">your gender</option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
                <span class="important identitext">I was
                <span id="likelihood">how many</span>
                times as likely to be stopped & frisked as the average New Yorker in <span id="the_date"></span></span>
            </div>
        </div>
    </div>
</body>

</html>
