<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/css/selection.css">
	<script src="../static/js/selection.js"></script>
</head>
<body onload="selection_init()">

	<div class="flex" id="selection_content">

	<div id="identity">
		<span id="iam">I am... </span><span id="list"/>
	</div>
	<div id="to-select">
		<div id="selectables">
		<form action="#">

			<fieldset>
				<select name="sex" id="sex" onchange="report(this.id, this.value)" class="button_style">
					<option selected="selected" value="">+ sex</option>
					<option value="Female">Female</option>
					<option value="Male">Male</option>
				</select>

				<select name="age" id="age" onchange="report(this.id, this.value)" class="button_style">
					<option selected="selected" value="">+ age</option>
				</select>

				<select name="race" id="race" onchange="report(this.id, this.value)" class="button_style">
					<option selected="selected" value="">+ race</option>
					<option value="American Indian">American Indian</option>
					<option value="Asian/Pacific Islander">Asian/Pacific Islander</option>
					<option value="Black">Black</option>
					<option value="White">White</option>
					<option value="Hispanic">Hispanic</option>
					<option value="Other Race">Other Race</option>
				</select>

				<select style='display:none' name="height" id="height" onchange="report(this.id, this.value)" class="button_style">
					<option selected="selected" value="">+ height</option>
				</select>

				<select style="display:none" name="weight" id="weight" onchange="report(this.id, this.value)" class="button_style">
					<option selected="selected" value="">+ weight</option>
				</select>


			</fieldset>

		</form>
	</div>
	</div>

		<button id="get_selected" type="button" class="button_style" onclick="getSelected()">Get Selected</button>
</div>

</body>
</html>
