<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../static/css/timeline.css">
	<script src="../static/js/timeline.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<script>
	$(document).ready(function(){
		$("button").click(function(){
			$("p").hide();
		});
	});
	</script>
</head>
<body>

	<div id = "timeline">
		<span id="dateDisplayer">0</span>
		<span id="minDate">2006</span>
		<span id="maxDate">2014</span>
		<input type="range" id="datePicker" onchange="changeDate(this.value)" />
		<div id = "timepieces">
	</div>
	</div>

	<script>timeline_init()</script>
</body>
</html>
