@import url('http://fonts.googleapis.com/css?family=Open+Sans');
/*TODO: let's get bebas neue in here for haders;*/
@font-face {
    font-family: bebas;
    src: url("../bebas/TTF's/BebasNeue Regular.ttf");
}

html{
	font-family: 'Open Sans';
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'bebas';
	font-weight: 600;
	background: none;
	color: white;
	margin: 10px;
}

.page_div{
  height: 100vh;
}

body{
	border: none;
	margin: 0;
}

#header {
	text-align: center;
	font-size: 100px;
  height: 300;
  width: 100%;
}

#map_section {
	display: inline-block;
}

.wrapper {
	text-align: center;
}

#heatmap_div{
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#timeline-graph_div{
	text-align: center;
}

#animate_button{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#logo {
	width: 10%;
	height: auto;
}
