@import url('http://fonts.googleapis.com/css?family=Open+Sans');

html{
	font-family: 'Open Sans';
}

.page_div{
  height: 100vh;
}

#heatmap_div{
	margin-left: auto;
	margin-right: auto;
	width: 77%;
	margin-top: 50px;
}

#timeline-graph_div{
	margin-left: auto;
	margin-right: auto;
	width: 87%;
}

#animate_button{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}