@import url('http://fonts.googleapis.com/css?family=Open+Sans');

html{
	font-family: 'Open Sans';
	background: #232323;
	color: white;
}

.page_div{
  height: 100vh;
}

body{
	border: none;
	margin: 0;
}

#selection_div{
	background: white;
	left: 0;
	position: relative;
	margin: none;
	color: black;
}

#heatmap_div{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	margin-top: 50px;
}

#timeline-graph_div{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 87%;
}

#animate_button{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
