
#identity{
  font-size: 42px;
}

#selection_div.fixed {
  top: 0px;
  position: fixed;
  /* This is a hack which enables hardware acceleration*/
  -webkit-transform: translate3d(0,0,0);
}

#selection_div {
  height: 100px;
  position: absolute;
  bottom: 100px;
  width: 100%;
  z-index:1;
  margin:0;
  -webkit-transform: translate3d(0,0,0);
}

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
}
